$mainFont: 'Roboto', sans-serif;
$secondaryFont: 'Raleway', sans-serif;

$mainColor: #2196f3;
$fontMainColor: #212121;
$fontSecondaryColor: #757575;
$heroBackgroundColor: #2F303A;
$neutralColor: #ffffff;
$teamBackgroundColor: #F5F4FA;
$clientsColor: #AFB1B8;
$footerBackgroundColor: #2F303A;