*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --blue: #2196f3;
  --darkgrey: #2f303a;
  --grey: #757575;
  --lightgrey: #e5e5e5;
  --lightcream: #ececec;
  --notblack: #212121;
  --notwhite: #f5f4fa;
  --footerlinks: #ffffff99;
  --productborder: #eeeeee;
  --background: rgba(47, 48, 58, 0.4);
}
body {
  font-family: 'Roboto', 'Raleway', sans-serif;
  color: var(--grey);
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}
.wrapper {
  background-color: var(--white);
  margin: 0 auto;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
.footer-links:hover,
.footer-links:focus,
.blue-text:hover,
.blue-text:focus {
  color: var(--blue);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
.section-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166666666666667;
  text-align: center;
  color: var(--notblack);
  margin: 0px 0 50px 0;
}
.footer-icon:hover,
.footer-icon:focus,
.team-card-icon:hover,
.team-card-icon:focus {
  background-color: var(--blue);
  fill: var(--white);
  cursor: pointer;
}

.header {
  align-items: center;
  gap: 93px;
  flex-direction: row;
  padding: 25px 0 24px 0;
  display: flex;
}
.logo-style {
  font-family: 'Raleway';
  color: var(--black);
  font-size: 26px;
  font-weight: 700;
  line-height: 1.193;
  letter-spacing: 0.03em;
  display: inline;
}
.blue-text {
  color: var(--blue);
}
.nav-list {
  display: flex;
  list-style: none;
  line-height: 1.2;
  margin: 0;
}
.nav-style {
  gap: 46px;
  line-height: 1.2;
  padding: 0;
}
.contacts-style {
  gap: 50px;
  margin-left: auto;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.link-style {
  color: var(--notblack);
  font-weight: 500;
}
.contact-link-style {
  color: var(--grey);
  font-weight: 500;
}
.link-no-underline {
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-header {
  fill: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.icons-header:hover,
.icons-header:focus {
  fill: var(--blue);
}
.icon-spacing {
  margin-right: 10px;
}

.top-section {
  background-image: url(https://github.com/mendalkalukasz/goit-markup-hw-04/blob/main/images/background.jpg?raw=true);
  background-color: var(--background);
  background-blend-mode: difference;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--white);
  width: 100%;
  display: flex;
  gap: 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
.top-section-text {
  font-size: 44px;
  font-weight: 900;
  text-align: center;
  line-height: 1.364;
  letter-spacing: 0.06em;
}
.order-service-button {
  background-color: var(--blue);
  border-style: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white);
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
}

.our-speciality {
  padding: 94px 0 0 0;
  display: flex;
  list-style: none;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}
.our-speciality-header {
  font-weight: 700;
  color: var(--notblack);
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 1.145;
}
.our-speciality-text {
  line-height: 0.03em;
  line-height: 1.71;
  width: 270px;
  margin: 0;
}
.speciality-icon {
  background-color: var(--notwhite);
  height: 120px;
  width: 270px;
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services {
  align-items: center;
  flex-direction: column;
  padding: 94px 0;
}
.our-services-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  margin: 0;
  justify-content: center;
}
.our-services-label {
  position: absolute;
  bottom: 0;
  margin: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.our-services-box p {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #fff;
}
.our-services-box {
  position: relative;
  background-color: #fff;
}

.our-team-background {
  background-color: var(--notwhite);
  padding: 94px 0;
}
.our-team {
  align-items: center;
  flex-direction: column;
}
.our-team-list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
}
.our-team-card {
  background-color: var(--white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.our-team-card-name {
  margin: 30px 0 10px 0;
  color: var(--notblack);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.1875;
}
.our-team-card-proffesion {
  margin: 0 0 16px 0;
  line-height: 1.1875;
  font-size: 16px;
}
.team-card-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}
.team-card-icon {
  width: 44px;
  height: 44px;
  background-color: var(--white);
  border-radius: 50%;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.our-clients {
  padding: 94px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.client-logos {
  display: flex;
  gap: 30px;
  list-style: none;
}
.client-logo {
  border-radius: 4px;
  border: #afb1b8 solid 1px;
  width: 170px;
  height: 92px;
  fill: #afb1b8;
  transition-property: fill, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client-logo:hover {
  fill: var(--blue);
  border: var(--blue) solid 1px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin: 94px 0 0 0;
  list-style: none;
}
.filter-button {
  background-color: var(--notwhite);
  border-width: 0;
  height: 38px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  border-radius: 3px;
  padding: 6px 22px;
  font-family: 'Roboto';
  transition-property: border-radius, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter-button:focus,
.filter-button:hover {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.product-container {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 50px;
  margin-bottom: 94px;
  list-style: none;
  align-items: center;
  justify-content: center;
}
.product-card {
  border: var(--productborder) solid 1px;
  flex-basis: calc((100% - 90px) / 3);
  height: 404px;
  margin: 0;
}
.product-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.product-card-header {
  color: var(--darkgrey);
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
  margin: 20px 0 4px 24px;
}
.product-card-text {
  line-height: 1.88;
  font-size: 16px;
  margin: 0 0 0 24px;
}
.header-line-border {
  border-bottom: var(--lightcream) solid 1px;
}

.footer {
  width: 100%;
  background-color: var(--darkgrey);
  padding: 60px 0;
}
.footer-contacts {
  width: 246px;
}
.address-text {
  margin: 20px 0 0 0;
  font-style: normal;
}
.white-logo {
  color: var(--white);
}
.footer-links {
  color: var(--footerlinks);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-container {
  flex-direction: column;
  color: var(--white);
  display: flex;
  flex-direction: row;
}
.footer-link-list {
  list-style: none;
  padding: 0;
}
.footer-link-list li {
  margin: 9px 0 9px 0;
}
.footer-header {
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
  margin-left: 70px;
  margin-bottom: 20px;
  font-weight: 14px;
}
.footer-icons {
  display: flex;
  gap: 10px;
  margin-left: 70px;
  list-style: none;
  padding: 0;
}
.footer-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: var(--white);
  transition-property: fill, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgb(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  transition-duration: 400ms;
}

.modal {
  position: relative;
  margin: auto;
  background-color: white;
  width: 528px;
  display: flex;
  justify-content: right;
  height: 581px;
  border-radius: 5px;
  visibility: inherit;
  opacity: inherit;
  transition: ease-out 450ms;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.box-overlay {
  position: relative;
  width: 372px;
  height: 294px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(+100%);
  transition: transform 250ms ease;
  background-color: #2195f3da;
}

.overlay p {
  color: var(--white);
  padding-top: 49px;
  padding-bottom: 49px;
  padding-left: 24px;
  padding-right: 45px;
  font: 400;
}

.container-products {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-products ul {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  flex-basis: calc((100% -60px) 3);
}

.image {
  margin: 0px;
}
.image:hover .overlay {
  transform: translateY(0);
}
.image img {
  display: block;
}

.newsletter-subscription {
  margin-left: 78px;
}
.newsletter-subscription-title {
  padding-top: 72px;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.newsletter-subscription-form-box {
  display: flex;
  flex-direction: row;
}
.newsletter-subscription-form-box input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 12px;
  transition-property: background-color, border-color, filter, border-radius;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-subscription-form-box input:hover,
.newsletter-subscription-form-box input:focus,
.newsletter-subscription-form-box input:focus-within {
  outline: none;
  background-color: #2f303a;
  border: 2px solid #2196f3;
  border-color: #2196f3;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 5px;
}
.newsletter-subscription-form-box button {
  position: relative;
  display: flex;
  text-align: center;
  align-items: center;
  padding-left: 42px;
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-property: border-radius, background-color, fill, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.newsletter-subscription-form-box button svg {
  position: absolute;
  left: 148px;
  top: 13px;
  fill: #ffffff;
  transition-property: fill;
  transition-duration: 250ms;
}
.newsletter-subscription-form-box button:hover,
.newsletter-subscription-form-box button:focus,
.newsletter-subscription-form-box button:focus-within {
  border-radius: 5px;
  background-color: #0d83e4;
  color: #f3ebeb;
  fill: #f3ebeb;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
}
